.App-header {
  background-color: #444444;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list-pokemon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;  
}

.button-search {
  background-image: url(./pokeball.ico);
  background-repeat: no-repeat;
  padding: 65px;
  border-radius: 84px;
  margin-left: 10px;
  border: 2px solid white;
}

.select-search {  
  border-radius: 7px;
  font-size: calc(13px + 2vmin);
  background-color: #9DEDFF;  
  color: #5d5b5b;
  border: 2px solid white;
}



